{% extends 'shared.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Classic Models</h1>
    <div class="row">
        <p>Visão geral do banco de dados classic models</p>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col-lg-3 col-6">
            <div class="card bg-info">
                <div class="inner">
                    <h2 class="text-light">{{ customers_count}}</h2>
                    <p class="text-light">Clientes</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="card bg-info">
                <div class="inner">
                    <h2 class="text-light">{{ employees_count }}</h2>
                    <p class="text-light">Empregados</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="card bg-info">
                <div class="inner">
                    <h2 class="text-light">{{ products_count }}</h2>
                    <p class="text-light">Produtos</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="card bg-info">
                <div class="inner">
                    <h2 class="text-light">{{ orders_count }}</h2>
                    <p class="text-light">Pedidos</p>
                </div>
            </div>
        </div>

       

    </div>
</div>

{% endblock %}