{% extends 'shared.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Lista de produtos</h1>
</div>

<div class="container text-center">
    
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Product Code</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Line</th>
            <th scope="col">Quantity in stock</th>
            <th scope="col">Buy Price</th>
            </tr>
        </thead>
        <tbody>
        {% for product in page_obj %}
            <tr>
                <td>{{ product.productcode }}</td>
                <td>{{ product.productname }}</td>
                <td>{{ product.productline }}</td>
                <td>{{ product.quantityinstock }}</td>
                <td>{{ product.buyprice }}</td>
            </tr>
        {% endfor %}
        </tbody>
        
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Primeiro</a>
                <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Próximo</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Último &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
    
{% endblock %}